@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: outfit;
}

:root {
  --transition-time: 0.5s;
}
[data-theme="light"] {
  --color-bg: #ffffff;
  --color-text: #000000;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-text: #ffffff;
}

body, select {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: all .5s ease;
}
